# Using normal equation we get the best fit possible for linear regression

In [9]:
import numpy as np
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
import pandas as pd

In [10]:
class NormalEquation:

	def __init__(self):
		pass

	def __compute(self, x, y):
		try:
			'''
			# multiline code
			var = np.dot(x.T,x)
			var = np.linalg.inv(var)
			var = np.dot(var,x.T)
			var = np.dot(var,y)
			self.__thetas = var
			'''
			var = np.dot(x.T,x)
			var = np.linalg.inv(var)
			var = np.dot(var,x.T)
			var = np.dot(var,y)
			self.__thetas = var
			# one line code
# 			self.__thetas = np.dot(np.dot(np.linalg.inv(np.dot(x.T,x)),x.T),y)
		except Exception as e:
			raise e
		
	def fit(self, x, y):
		x = np.array(x)
		ones_ = np.ones(x.shape[0])
		x = np.c_[ones_,x]
		y = np.array(y)
		self.__compute(x,y)

	@property
	def intercept_(self):
		return self.__thetas[0]

	@property
	def coef_(self):
		return self.__thetas[1:]
    
	def score(self, x, y):
		y_pred = self.predict(x)
		u = ((y - y_pred) **2).sum()
		v = ((y - y.mean()) **2).sum()
		return (1-(u/v))

	def predict(self, x):
		try:
			x = np.array(x)
			ones_ = np.ones(x.shape[0])
			x = np.c_[ones_,x]
			result = np.dot(x,self.__thetas)
			return result			
		except Exception as e:
			raise e

In [11]:
dataset = load_boston()

## Using multiple features from data

In [19]:
data = pd.DataFrame(dataset.data)
data.columns = dataset.feature_names

y = pd.DataFrame(dataset.target)
y.columns=["MedHouseVal"] 
y.head()

X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.2, random_state=20)

In [20]:
X_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
25,0.84054,0.0,8.14,0.0,0.538,5.599,85.7,4.4546,4.0,307.0,21.0,303.42,16.51
417,25.94060,0.0,18.10,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64
481,5.70818,0.0,18.10,0.0,0.532,6.750,74.9,3.3317,24.0,666.0,20.2,393.07,7.74
490,0.20746,0.0,27.74,0.0,0.609,5.093,98.0,1.8226,4.0,711.0,20.1,318.43,29.68
41,0.12744,0.0,6.91,0.0,0.448,6.770,2.9,5.7209,3.0,233.0,17.9,385.41,4.84

In [21]:
y_train.head()

     MedHouseVal
25          13.9
417         10.4
481         23.7
490          8.1
41          26.6

In [22]:
ne = NormalEquation()
ne.fit(X_train.to_numpy(), y_train.to_numpy())

In [23]:
print ("Training score:", ne.score(X_train.to_numpy(), y_train.to_numpy()))
print ("Testing score:", ne.score(X_test.to_numpy(), y_test.to_numpy()))
print("Theta:", ne.coef_)
print("Y-intercept:", ne.intercept_)

Training score: 0.7578066186611594
Testing score: 0.6320114106481143
Theta: [[-1.22826003e-01]
 [ 5.69576378e-02]
 [ 1.42306987e-02]
 [ 3.65459810e+00]
 [-1.71716027e+01]
 [ 4.12120504e+00]
 [-7.72211020e-03]
 [-1.60147347e+00]
 [ 3.07421074e-01]
 [-1.26919635e-02]
 [-9.34046199e-01]
 [ 9.37551700e-03]
 [-4.83921135e-01]]
Y-intercept: [34.3698595]

## Now let's try using single feature from data

In [25]:
X_train, X_test, y_train, y_test = X_train[["AGE"]], X_test[["AGE"]], y_train, y_test

In [26]:
ne = NormalEquation()
ne.fit(X_train.to_numpy(), y_train.to_numpy())

In [27]:
print ("Training score:", ne.score(X_train.to_numpy(), y_train.to_numpy()))
print ("Testing score:", ne.score(X_test.to_numpy(), y_test.to_numpy()))
print("Theta:", ne.coef_)
print("Y-intercept:", ne.intercept_)

Training score: 0.14955158357988507
Testing score: 0.08964841644476407
Theta: [[-0.12914935]]
Y-intercept: [31.46450648]