# Using normal equation we get the best fit possible for linear regression

In [1]:
import numpy as np
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
class NormalEquation:

	def __init__(self):
		pass

	def __compute(self, x, y):
		try:
			'''
			# multiline code
			var = np.dot(x.T,x)
			var = np.linalg.inv(var)
			var = np.dot(var,x.T)
			var = np.dot(var,y)
			self.__thetas = var
			'''
			var = np.dot(x.T,x)
			var = np.linalg.inv(var)
			var = np.dot(var,x.T)
			var = np.dot(var,y)
			self.__thetas = var
			# one line code
# 			self.__thetas = np.dot(np.dot(np.linalg.inv(np.dot(x.T,x)),x.T),y)
		except Exception as e:
			raise e
		
	def fit(self, x, y):
		x = np.array(x)
		ones_ = np.ones(x.shape[0])
		x = np.c_[ones_,x]
		y = np.array(y)
		self.__compute(x,y)

	@property
	def intercept_(self):
		return self.__thetas[0]

	@property
	def coef_(self):
		return self.__thetas[1:]
    
	def score(self, x, y):
		y_pred = self.predict(x)
		u = ((y - y_pred) **2).sum()
		v = ((y - y.mean()) **2).sum()
		return (1-(u/v))

	def predict(self, x):
		try:
			x = np.array(x)
			ones_ = np.ones(x.shape[0])
			x = np.c_[ones_,x]
			result = np.dot(x,self.__thetas)
			return result			
		except Exception as e:
			raise e

In [3]:
dataset = load_boston()

data = pd.DataFrame(dataset.data)
data.columns = dataset.feature_names

y = pd.DataFrame(dataset.target)
y.columns=["MedHouseVal"] 
y.head()

X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.2)

In [4]:
X_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
148,2.33099,0.0,19.58,0.0,0.8710,5.186,93.8,1.5296,5.0,403.0,14.7,356.99,28.32
181,0.06888,0.0,2.46,0.0,0.4880,6.144,62.2,2.5979,3.0,193.0,17.8,396.90,9.45
239,0.09252,30.0,4.93,0.0,0.4280,6.606,42.2,6.1899,6.0,300.0,16.6,383.78,7.37
282,0.06129,20.0,3.33,1.0,0.4429,7.645,49.7,5.2119,5.0,216.0,14.9,377.07,3.01
266,0.78570,20.0,3.97,0.0,0.6470,7.014,84.6,2.1329,5.0,264.0,13.0,384.07,14.79

In [5]:
y_train.head()

     MedHouseVal
148         17.8
181         36.2
239         23.3
282         46.0
266         30.7

In [6]:
ne = NormalEquation()
ne.fit(X_train.to_numpy(), y_train.to_numpy())

In [8]:
print ("Training score:", ne.score(X_train.to_numpy(), y_train.to_numpy()))
print ("Testing score:", ne.score(X_test.to_numpy(), y_test.to_numpy()))
print("Theta:", ne.coef_)
print("Y-intercept:", ne.intercept_)

Training score: 0.7599854330841176
Testing score: 0.6539379631105424
Theta: [[-1.04758121e-01]
 [ 5.34877121e-02]
 [ 4.73412508e-02]
 [ 9.27311932e-01]
 [-1.70093412e+01]
 [ 3.97429108e+00]
 [-6.82168812e-03]
 [-1.43507251e+00]
 [ 3.03192885e-01]
 [-1.41607716e-02]
 [-9.75883557e-01]
 [ 8.93364252e-03]
 [-4.68198278e-01]]
Y-intercept: [35.69201749]